# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Ensure files are checked out with LF on all platforms and normalized to LF on commit.
* text eol=lf

# Explicitly declare text files to normalize and always convert to LF line endings on commit.
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
