@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Background Colors */
		--color-bg-primary: #1e1e1e;
		--color-bg-secondary: #2c2c2c;
		--color-bg-card: #2c2c2c;
		--color-bg-message: #444;
		--color-bg-input: #444;
		--color-bg-account: #333;

		/* Text Colors */
		--color-text-primary: #33ff00;
		--color-text-secondary: #cccccc;
		--color-text: #33ff00;
		--color-timestamp: #888;
		--color-admin: #ffd700;

		/* Accent Colors */
		--color-accent: #007bff;
		--color-accent-hover: #0056b3;

		/* Utility Colors */
		--color-success: #28a745;
		--color-danger: #d31b1b;
		--color-error: #f3673d;

		/* Borders and Shadows */
		--color-border: #33ff00;
		--color-focus-shadow: rgba(51, 255, 0, 0.5);
		--color-shadow: rgba(51, 255, 0, 0.3);
		--shadow-default: 0 1px 2px rgba(0, 0, 0, 0.1);

		/* Font Families */
		--font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
			"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
		--font-family-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

		/* Sizes and Spacing */
		--header-height: 200px;
		--sidebar-width: 250px;
		--userbar-width: 250px;
		--collapsed-width: 0px;
		--account-width: 250px;
		--account-width-collapsed: 60px;
		--avatar-size: 100px;
		--spacing-unit: 0.5rem;

		/* Borders, Radius, and Transitions */
		--border-radius: 4px;
		--transition-default: 0.3s ease;
		--z-index-card: 1000;
	}

	.scrollbar-hidden {
		overflow: -moz-scrollbars-none; /* Firefox */
		scrollbar-width: none; /* Firefox */
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	/* Typing dots animation */
	.typing-indicator {
		display: inline-flex;
		align-items: center;
	}

	.typing-indicator span {
		width: 4px;
		height: 4px;
		margin: 0 2px;
		background-color: var(--color-text-primary); 
		border-radius: 50%;
		animation: typing 1.5s infinite steps(3, end);
	}

	.typing-indicator span:nth-child(1) {
		animation-delay: 0.3s;
	}

	.typing-indicator span:nth-child(2) {
		animation-delay: 0.6s;
	}

	.typing-indicator span:nth-child(3) {
		animation-delay: 0.9s;
	}

	@keyframes typing {
		0%,
		20% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
